html,
body {
    padding: 0;
    border: 2px none;
    background-image: url("/vanand/MyPIPassessments/image/wood.jpg");
}
h1 {
    text-align: center;
}
#regform {
    /*background-color: darkslategrey;*/
    padding: 20px;
    border: 1px solid maroon;
    border-radius: 5px;
    border-style: inset;
    width: 500px;
    height: 350px;
}
table {
    padding: 30px;
    margin: 2px;
}
label {
    float: right;
}
.label-mandatory {
    color: red;
    text-align: right;
    white-space: nowrap;
}