body {
    background-image: url("/vanand/MyPIPassessments/image/wood.jpg");
}

#selHob{
	/*background-color: darkslategrey;*/
    border: 1px inset maroon;
    border-radius: 5px;
    /*padding: 20px;*/
    width: 500px;
    color: white;
}
img{
    width: 150px;
    height: 50px;
}